.aboutUs {
    /* background-color: #f9f9f9; */
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.aboutContentBody {
    margin-left: 30px;
}

.aboutUsImages {
    position: relative;
    padding: 0 2rem 2rem 0;
    background: url(/images/home/about1.jpg) no-repeat -100% ;
    background-size: 85%;
    border-radius: 20px;
}

.aboutImg1 {
    position: relative;
}

.aboutImg1:before {
    content: '';
    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: translate(-50%, 70px);
    width: 130px;
    height: 40px;
    background: url('/images/about-img-bg.svg') no-repeat;
    background-position: bottom center;
    background-size: cover;
}

.aboutImg1 figure,
.aboutImg2 figure {
    display: block;
    border-radius: 20px;
}

.aboutImg1 img,
.aboutImg2 img {
    width: 100%;
    object-fit: cover;
    border-radius: 20px;
}

.aboutImg2 {
    width: 300px;
    position: absolute;
    bottom: 0;
    right: 0;
}

.aboutImg2 img {
    aspect-ratio: 1 / 1.334;
}

.imageAnime {
    position: relative;
    overflow: hidden;
}

.imageAnime:after {
    content: "";
    position: absolute;
    width: 200%;
    height: 0%;
    left: 50%;
    top: 50%;
    background-color: rgba(255, 255, 255, .3);
    transform: translate(-50%, -50%) rotate(-45deg);
    z-index: 1;
}

.imageAnime:hover:after {
    height: 250%;
    transition: all 600ms linear;
    background-color: transparent;
}

.contactCircle {
    position: absolute;
    top: 20px;
    right: 80px;
    animation: infiniterotate 30s infinite linear;
}

@keyframes infiniterotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.aboutUsContent {
    padding: 20px;
}

.iconBox {
    width: 50px;
    height: 50px;
    background-color: #e0e0e0;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.aboutGoalBoxContent h3 {
    font-size: 20px;
    color: #333;
}

.aboutGoalBoxContent p {
    color: #666;
    margin-top: 5px;
}

.aboutContactContent a {
    color: #007BFF;
    text-decoration: none;
    font-weight: bold;
}

.aboutInfoBox {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 15px;
}

.aboutAuthorContent h3 {
    font-size: 18px;
    color: #111;
}

.aboutAuthorContent p {
    color: #666;
}

.aboutInfoList ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.aboutInfoList ul li {
    position: relative;
    text-transform: capitalize;
    margin-bottom: 10px;
    padding-left: 30px;
}

.aboutInfoList ul li:last-child {
    margin-bottom: 0;
}

.aboutInfoList ul li:before {
    content: '\f058';
    font-family: 'Font Awesome 6 Free';
    font-weight: 400;
    font-size: 20px;
    color: var(--accent-color);
    display: inline-block;
    line-height: normal;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}


@media only screen and (max-width: 991px) {
    .aboutUs {
        padding: 60px 0px;
        background-color: #f9f9f9;
    }

.aboutUsImages {
    position: relative;
    background: url('/images/home/about1.jpg') no-repeat center center;
    background-size: cover;   /* ensures it covers the container */
    background-position: center; /* keeps it centered */
    border-radius: 20px;
    min-height: 400px;
}


    .contactCircle {
        display: none;
    }

    .aboutImg2 {
        display: none;
    }

    .aboutContentBody {
        margin-left: 0px;
        margin-top: 20px;
    }
}